<div class="dropdown-container">
    <a class="dropdown-link">
        {{label}}
    </a>
    <div class="dropdown-menu">
        {{#options}}
        <button type="button" class="dropdown-option" data-text="{{input}}">
            {{label}}
        </button>
        {{/options}}
    </div>
</div>